html {
  scroll-behavior: smooth; /* Add a smooth scrolling effect */
  scroll-padding-top: 200px; /* Add some space between the navbar and the content */
 }
 
 .navbar {
   background-color: #B6EADA; /* Blue background */
   overflow: hidden; /* Hide scrollbars */
   position: fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the top of the page */
   width: 100%; /* Full width */
   height: 145px; /* Set a specific height */
   display: flex; /* Use Flexbox display */
   font-size: 20px; /* Increase font size */
   padding-left: 30px; /* Add some padding */
   font-family: "DM Sans", sans-serif; /* Change font family */
   z-index: 100; /* Make sure the navbar stays on top of the content */
 }
 
/* Links inside the navbar */
 .navbar a {
   float: right; /* Float the links to the right */
   margin-top: auto; /* Align the links vertically */
   margin-left: 20px;  /* Add some space between the links */
   display: block; /* Display the links as blocks */
   color: #404258; /* Grey text color */
   text-align: center; /* Center the links */
   padding: 14px 16px; /* Add some padding */
   text-decoration: none; /* Remove underline from links */
 }

 .navbar p {
   float: right; /* Float the paragraph to the right */
   margin-top: auto; /* Align the paragraph vertically */
   margin-left: 20px; /* Add some space between the paragraph and other content*/
   display: block; /* Display the paragraph as a block */
   color: #404258; /* Grey text color */
   text-align: center; /* Center the paragraph */
 }

 .link-container {
   display: flex; /* Use Flexbox display */
   flex-direction: row; /* Align the links horizontally */
   justify-content: center; /* Center the links horizontally */
   align-items: center; /* Center the links vertically */
   margin-top: 20px; /* Add some space between the links and the navbar */
 }
 
 /* make a block for the title and links to float them to the right */
 .nav-title {
   display: flex; /* Use Flexbox display */
   float: right; /* Float the title to the right */
   margin-left: auto; /* Align the title to the right */
   flex-direction: column; /* Align the title vertically */
 }
 
/* Change background on mouse-over */
 .navbar a:hover {
   color: #6B728E; /* Dark grey text color */
 }

 .title {
   margin-left: auto; /* Align the title to the right */
   margin-right: 50px; /* Add some space between the title and other content*/
   font-size: 48px; /* Increase font size */
   font-weight: bold; /* Make the text bold */
   color: #B6EADA; /* Blue text color */
   text-align: center; /* Center the title */
 }

 .title a:hover {
   background: #B6EADA; /* Green background */
   color: #404258; /* Grey text color */
 }

 .profile-image {
   width: 100px; /* Set the width to 100px */
   height: 100px; /* Set the height to 100px */
   border-radius: 50%; /* Make the image a circle */
   margin-top: 20px; /* Add some space between the image and the navbar */
   margin-bottom: 20px; /* Add some space between the image and the navbar */
 }

 .grow { 
   transition: all .1s ease-in-out; /* Add a transition effect when the user hovers over the image */
 }
   
 .grow:hover { 
   transform: scale(1.1); /* Make the image 1.1 times bigger when the user hovers over it */
   filter: drop-shadow(0px 0px 2px #272b36); /* Add a shadow effect when the user hovers over the image */
   cursor: pointer; /* Change the cursor to a pointer when the user hovers over the image */
 }

 .grow:active {
   transform: scale(1.05); /* Make the image 1.05 times bigger when the user clicks on it */
   filter: drop-shadow(0px 0px 5px #272b36); /* Add a shadow effect when the user clicks on the image */
 }

/* Main content */
 .main {
   margin-top: 100px; /* Add a top margin to avoid content overlay */
   
 }

 body {
   margin: 0px; /* Remove the default margin */
   background: #404258; /* Grey background */
   font-family: "DM Sans", sans-serif; /* Change font family */
 }

 .box {
   width: 45%; /* Set the width to 45% */
   height: 100%; /* Set the height to 100% */
   background-color: #B6EADA; /* Blue background */
   display: flex; /* Use Flexbox display */
   flex-direction: column; /* Align the content vertically */
   align-items: center; /* Center the content horizontally */
   justify-content: center; /* Center the content vertically */
   color: rgb(235, 234, 232); /* White text color */
   background: #474E68; /* Dark grey background */
   border-radius: 40px; /* Make the corners rounded */
   padding-left: 80px; /* Add some padding */
   padding-right: 80px; /* Add some padding */
   padding-top: 20px; /* Add some padding */
   padding-bottom: 20px; /* Add some padding */
   margin: 0 auto; /* Center the box horizontally */
   margin-top: 60px; /* Add some space between the box and the navbar */
   margin-bottom: 60px; /* Add some space between the box and the navbar */
   filter: drop-shadow(0px 0px 2px #272b36); /* Add a shadow effect */
 }

 .container {
   display: flex; /* Use Flexbox display */
   flex-direction: column; /* Align the content vertically */
   align-items: center; /* Center the content horizontally */
   justify-content: center; /* Center the content vertically */
   margin-top: 100px; /* Add some space between the box and the navbar */
 }

 .title-box {
   font-size: 25px; /* Increase font size */
   color:#B6EADA; /* Blue text color */
   font-weight: bold; /* Make the text bold */
   background: #6B728E; /* Dark grey background */
   text-align: center; /* Center the title */
   width: 80%; /* Set the width to 80% */
   height: 50%; /* Set the height to 50% */
   border-radius: 40px; /* Make the corners rounded */
 }

 .large-images {
   height: 100%; /* Set the height to 100% */
   width: 50%; /* Set the width to 50% */
   padding-left: 15px; /* Add some padding */
   padding-right: 15px; /* Add some padding */
   border-radius: 50px; /* Make the corners rounded */
   margin-bottom: 40px; /* Add some space between the images */
   margin-top: 20px; /* Add some space between the images */
   filter: drop-shadow(0px 0px 2px #272b36); /* Add a shadow effect */
 }
 
 .teacher-image {
   width: 200px; /* Set the width to 200px */
   height: 100%; /* Set the height to 100% */
   margin-top: 30px; /* Add some space between the image and the content */
   margin-bottom: 20px; /* Add some space between the image and the content */
   margin-left: 50px; /* Add some space between the image and the content */
   filter: drop-shadow(0px 0px 2px #272b36); /* Add a shadow effect */
   border-radius: 20px; /* Make the corners rounded */
 }

 .content-row-align {
   display: flex; /* Use Flexbox display */
   flex-direction: row; /* Align the content horizontally */
   justify-content: center; /* Center the content horizontally */
   align-items: center; /* Center the content vertically */
 }

 .logo {
   margin-top: 20px; /* Add some space between the image and the navbar */
   margin-bottom: 20px; /* Add some space between the image and the navbar */
   max-width: 100px; /* Set the max width to 100px */
   height: auto; /* Set the height to auto */
 }

 .site-footer {
   background-color: #B6EADA; /* Green background */
   align-items: center; /* Center the content horizontally */
   justify-content: center; /* Center the content vertically */
   display: flex; /* Use Flexbox display */
   flex-direction: column; /* Align the content vertically */
 }
 
 .site-footer .footer-info h4 {
   color: #272b36; /* Dark grey text color */
   font-size: 16px; /* Increase font size */
   font-weight: bold; /* Make the text bold */
   margin-bottom: 15px; /* Add some space between the footer title and links*/
 }
 
 .site-footer .footer-info p {
   font-size: 14px; /* Increase font size */
   line-height: 1.5; /* Increase line height */
   margin-bottom: 0; /* Remove the default margin */
 }
 
 .site-footer .footer-links h4 {
   color: #272b36; /* Dark grey text color */
   font-size: 16px; /* Increase font size */
   font-weight: bold; /* Make the text bold */
   margin-top: 0; /* Remove the default margin */
   margin-bottom: 15px; /* Add some space between the footer links and page bottom*/
 }
 
 .site-footer .footer-links ul {
   display: flex; /* Use Flexbox display */
   flex-direction: row; /* Align the content horizontally */
   justify-content: space-between; /* Center the content horizontally */
 }
 
 .site-footer .footer-links ul li {
   margin-bottom: 16px; /* Add some space between the footer links */
   list-style: none; /* Remove the default list style */
 
 }
 
 .site-footer .footer-links ul li a {
   color: #404258; /* Dark grey text color */
   text-decoration: none; /* Remove the default text decoration */
   font-size: 14px; /* Increase font size */
   line-height: 1.5; /* Increase line height */
 }
 
 .site-footer .footer-links ul li a:hover {
   color: #6B728E; /* Dark grey text color */
 }

 .footer-links a {
   display: inline-block; /* Make the element a block */
   margin: 0 20px; /* Add some space between the footer links */
   transition: transform 0.2s ease-in-out; /* Add a transition effect */
 }

 .footer-links img {
   width: 100%; /* Set the width to 100% */
   height: 100px; /* Set the height to 100px */
   margin-left: auto; /* Center the image horizontally */
   display: flex; /* Use Flexbox display */
   justify-content: center; /* Center the content horizontally */
   align-items: center; /* Center the content vertically */
 }

 footer {
   background-color: #474E68; /* Dark grey background */
   padding: 20px; /* Add some padding */
   width: 100%; /* Set the width to 100% */
   text-align: center; /* Center the text */
   box-sizing: border-box; /* Make sure the padding is included */
   font-size: 14px; /* Increase font size */
   color: #666; /* Light grey text color */
 }